/* all */ 
:root {
    --blue: #3A4E5F;
    --white: #EBEBEB; 
    --lightblue: #4788c1;
}
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/* main body */ 

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
}

/*introduction*/

.introduction-image { 
    text-align: center;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.introduction-image img {
    width: 100%;
    margin:0 50px;
}

.intro-img-div {

}

.introduction-blurb {
    margin: auto; /*centers*/
    text-align: center;
    color: var(--white);
}

.rounded-box {
    border-radius: 10px;
    background-color: var(--blue);
    padding: 20px;
    margin: 0 auto;
    max-width: 360px;
}

/*projects*/ 

.projects {
    margin:auto;
    flex-direction: column;
    text-align: center;
}

.project-grid {
    display:grid;
    grid-template-columns: (1fr);
}

.project-card {
    max-width: 450px; 
    margin: 32px auto;
    height:
}

.project-card img {
    width: 100%;
    border-radius: 15px;
    border: solid var(--blue) 3px;
}

.image-container {
    width: 100%;
}

/*header*/ 
header {
    text-align: center;
}

.nav-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-buttons ul {
    list-style: none;
}

.nav-buttons ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20px;
}

.nav-buttons ul li a:hover {
    color: #4788c1;
}

.home-logo {
    background-color: #3A4E5F;
    padding: 15px;
}

.home-logo a {
    text-decoration: none; 
    color: #EBEBEB;
}

/* footer */ 
footer {
    background-color:#3A4E5F;
    color: #EBEBEB;
    padding: 15px;
}

footer a {
    color: white;
    margin-right: 20px;
    margin-left: 4px;
    font-size: 1.5rem
}

footer h3 {
    font-size: 1.3rem;
    text-align: left;
}

/* resume settings */
.section-title h2 {
    text-align: center;
    margin-top: 35px;

}

.section {
    padding-left: 30px;
    padding-right: 30px;
}

.section h3 {
    margin-top:35px;
}

.section h4 {
    margin-top:15px;
}

.section p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*media queries*/ 
/* large screens - base off tablet */
@media (min-width: 452px) {
    .introduction-blurb {
        max-width: 80%;
        text-align: center;
        color: #EBEBEB; 
        text-align:center;

    }

    .rounded-box {
        max-width: 80%; 
    }

    footer h3 {
        font-size: 1rem; 
    }

    .nav-buttons ul li a {
        display: inline-block;
    }

    .projects {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .introduction-image {
        
    }

}

/*medium screen*/
@media (min-width: 768px) {
    .introduction-blurb {
        max-width: 90%; 
    }

    .rounded-box {
        max-width: 90%; 
    }

    footer h3 {
        font-size: 0.9rem; 
    }

    .introduction {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .resume-grid {
        display:grid;
        grid-template-columns: repeat(3, 2fr);
    }
}
